footer {
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
    padding: 25px 0 15px 0;
    color: white;
    margin-top: 40px;
}

/* CONTENEDOR PRINCIPAL */
.footer-container {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
.footer-left img {
    height: 75px;
    transition: 0.3s;
}

.footer-left img:hover {
    filter:
        drop-shadow(2px 2px 6px rgba(255, 255, 255, 0.2))
        drop-shadow(-2px -2px 6px rgba(255, 255, 255, 0.2));
}

/* TITULO */
.footer-center h3 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

/* REDES */
.footer-right {
    display: flex;
    gap: 22px;
}

.footer-right i {
    font-size: 28px;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

.footer-right i:hover {
    transform: scale(1.15);
    color: #cccccc;
}

/* SEPARADOR */
footer hr {
    width: 90%;
    margin: 22px auto 14px auto;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.35);
}

/* COPYRIGHT */
.footer-copy {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: rgb(230, 230, 230);
}
